<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Word Frequency Calculator</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
